@font-face{
    font-family: morrisRoman;
    src:url(morris_roman/MorrisRomanBlack.ttf);
}

:root{
    --background-color: #D9A25F;
    --main: #D9C3A8;
    --bars: #734D2C;
    --barShade: #4A311C;
    --fontColor: #0B0D00;
    --green: #A3A64E;
    --greenShadow: #7D803C;
    --orange: #F29727;

    --barPaddingWidth: 20px;
    --barPaddingTop: 30px;
    --barPaddingBottom: 20px;

    --navHeight: 30px;

    --mainMarginTop: 30px;
    --mainMarginBottom: 30px;
    --mainMarginLeft: 30px;
    --mainMarginRight: 30px;
    --mainPaddingHeight: 30px;
    --mainPaddingWidth: 20px;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: morrisRoman, sans-serif;
    font-size: 1.2rem;
}

body{
    background-color: var(--background-color);
}

nav{
    background-color: var(--bars);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav > ul > li{
    list-style-type: none;
    height: var(--navHeight);
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: var(--barPaddingTop) var(--barPaddingWidth) var(--barPaddingBottom);
}

nav > ul > li:hover{
    color: var(--green);
    background-color: var(--barShade);
    cursor: pointer;
}

nav > ul > li.selected{
    color: var(--green);
}

header{
    margin-top: calc(var(--barPaddingTop) + var(--barPaddingBottom) + var(--navHeight));
    padding: 20px 0;
}

h1{
    font: var(--fontColor);
    text-align: center;
    font-size: 2.2rem;
}

.column_row > .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 20px;
}

.column_row > .switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.column_row > .switch > .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right : 0;
    bottom: 0;
    border-radius: 34px;
    background-color: var(--green);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.column_row > .switch > .slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.column_row > .switch > input:checked + .slider{
    background-color: var(--green);
}

.column_row > .switch > input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

header > .buttons{
    margin-top: 10px;
    padding: 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > .buttons > button{
    margin: 0 60px;
    padding: 10px;
    height: 40px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    background-color: var(--green);
    width: 75px;
}

header > .buttons > button:focus{
    border: 1px solid var(--greenShadow);
}

header > .buttons > button:hover{
    background-color: var(--greenShadow);
    cursor: pointer;
}

header > .buttons > .column_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main{
    background-color: #D9C3A8;
    height: 100%;
    margin: var(--mainMarginTop) var(--mainMarginRight) var(--mainMarginBottom) var(--mainMarginLeft);
    padding: var(--mainPaddingHeight) var(--mainPaddingWidth);
    border-radius: 10px;
    min-height: 49vh;
}

main.row{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 40px 70px;
}

main.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

main > .card{
    position: relative;
}

main.column > .card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin: 30px 100px;
    border-radius: 8px;
    width: 70%;
    height: 300px;
}

main.column > .card > .display{
    width: 650px;
    padding: 20px;
}

main.column > .card > .display > p{
    line-height: 1.5rem;
}

main.column > .card > .display > .description{
    display: block;
    color: #333;
    font-size: 0.9rem;

}

main.column > .card > .display > .title{
    font-size: 1.3rem;
    margin: 5px;
}

main.column > .card > .display > .author{
    font-size: 1rem;
}

main.row > .card{
    height: 210px;
    width: 140px;
    border: solid 3px var(--main);
}

main.row > .card:hover > span{
    display: inline-block;
}

main.row > .card:hover{
    border: solid 3px var(--orange);
}

main.row > .card > .display{
    position: absolute;
    background-color: var(--orange);
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 8px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -150%);
    display: none;
}

main.row > .card > .display > p{
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    color: white;
}

main.row > .card > .display > .author{
    font-size: 0.8rem;
}

main.row > .card > .display > .description{
    display: none;
}

main.column .icon-container{
    position: absolute;
    top: 20px;
    right: 20px;
}

main.row .icon-container{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
}

main.row > .card:hover .icon-container{
    display: block;
}

main > .card > .icon-container > .read.selected{
    color: var(--orange);
}

main.column > .card > .icon-container > ion-icon:hover{
    color: var(--orange)
}

main.row > .card > .icon-container > ion-icon:hover{
    color: var(--orange)
}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.icon-container > ion-icon{
    padding: 0 5px;
}

.icon-container:hover{
    cursor: pointer;
}

dialog{
    height: 489px;
    width: 550px;
    border-radius: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
}

dialog::backdrop{
     backdrop-filter: blur(0.3rem);
}

form{
    padding-top: 40px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog > span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: var(--greenShadow);
    color: white;
}

dialog > span:hover{
    color: var(--green);
    cursor: pointer;
}

form > label{
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    align-items:center;
    width: 500px;
}

form > label > span{
    display: inline-block;
    width: 150px;
}

form > label > input{
    font-size: 0.9rem;
    padding: 10px 10px;
    width: 300px;
}

form > label > textarea{
    width: 300px;
    height: 150px;
    resize: none;
    font-size: 0.9rem;
    padding: 10px 10px;
}

form > button{
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--greenShadow);
    color: white;
}

form > button:hover{
    color: var(--green);
}

.required{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 80px;
    margin-left: 10px;
    padding: 5px 0;
    font-size: 1rem;
    color: white;
    background-color: black;
}

footer{
    background-color: var(--bars);
    text-align: center;
    color: white;
    padding: 20px;
}
